body{

    margin:0;

    font-family:Meiryo,sans-serif;

    background:#f5f5f5;

}

.container{

    text-align:center;

    margin-top:100px;

}

button{

    padding:15px 30px;

    font-size:20px;

    border:none;

    border-radius:10px;

    cursor:pointer;

}